:root
{
  --primary-color: #02A4AF;
  --padding-content: 1rem
}

*, html, body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* HEADER*/
header
{
  /* border: 2px solid #000; */
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  padding: var(--padding-content);
}

h1
{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
  margin-bottom: 2rem;
  text-align: center;
}

span
{
  font-family: 'Bebas Neue', sans-serif;
  display: block;
  font-size: 24px;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
}

header p
{
  margin-bottom: 0.85rem;
  font-size: 0.95rem;
}

header img
{
  width: 70%;
  border-radius: 100%;
  margin: 2rem auto;
  border: 1px solid lightgray;
  box-shadow: cadetblue;
  -webkit-box-shadow: 0px 0px 38px -6px rgb(194, 194, 194);
  -moz-box-shadow: 0px 0px 38px -6px rgba(194, 194, 194);
  box-shadow: 0px 0px 38px -6px rgba(194, 194, 194);
}

/* MAIN */
main
{
  /* border: 2px solid #000; */
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--padding-content);
}

main h2
{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
}

main ul
{
  list-style: none;
}

main ul li
{
  display: inline;
  padding: 0.4rem;
}

/* FOOTER */
footer
{
  /* border: 2px solid #000; */
  padding: var(--padding-content);
  margin: 5rem auto;
}

footer h2
{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  text-align: center;
}

footer p
{
  text-align: left;
  font-size: 0.95rem;
}

.networks
{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.networks a
{
  margin-right: 0.7rem;
}

/* 768 */
@media screen and (max-width: 768px)
{
  header, main, footer
  {
    max-width: 600px;
  }

  header img
  {
    width: 50%;
  }
}

/* 992 */
@media screen and (max-width: 992px)
{
  body {
margin-top: 5rem;
  }

  header, main, footer
  {
    max-width: 900px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  header h1 {
    text-align: left;
    font-size: 4rem;
  }

  header img
  {
    width: 250px;
  }

  main{
    align-items: start;
  }

  footer h2 {
    text-align: left;
  }

  .networks {
    justify-content: start;
  }
}


.borda {
  border: 1px solid red;
}